train_nmcts15.py
train_nmcts25.py
train_nmcts100.py
.idea/
.vscode/
__pycache__/
logs/
wandb/
policy_value/Training
policy_value/Eval
gamefile/

*/train_fiar_*.py
/policy_value/ploting
*/fiar_env_*.py
*/efficient_mcts_*.py
*/planning_depth.py
*/cal_flops.py
*/cal_flops8.py

*.log
*.out
*.model
*.zip
*.png
*.c
.DS_Store
Eval/
Training/
file_utils_copy.py